*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:linear-gradient(135deg,#ffdce5,#e7dcff,#dff7ff);
    overflow:hidden;
}

/* pages */
.page{
    width:100vw;
    height:100vh;
    display:none;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
    position:relative;
    animation:fadeIn 0.8s ease;
}

.active{
    display:flex;
}

/* decorations */
.page::before{
    content:"✨ 🌸 🦋";
    position:absolute;
    top:30px;
    right:40px;
    font-size:26px;
}

.page::after{
    content:"☁️ 💙";
    position:absolute;
    bottom:30px;
    left:40px;
    font-size:26px;
}

/* image */
.photo{
    width:340px;
    max-width:90%;
    border-radius:25px;
    padding:12px;
    background:white;
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
    margin-bottom:20px;
}

/* text */
h1{
    color:#444;
    margin:15px 0;
}

p{
    color:#555;
}

/* captions */
.caption{
    margin-top:10px;
    background:rgba(255,255,255,0.5);
    padding:6px 12px;
    border-radius:20px;
    display:inline-block;
    color:#666;
}

/* button */
button{
    margin-top:25px;
    padding:14px 30px;
    border:none;
    border-radius:50px;
    background:#f4a7b9;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:scale(1.08);
}

/* message */
.message{
    max-width:700px;
    background:rgba(255,255,255,0.75);
    backdrop-filter:blur(12px);
    padding:40px 35px;
    border-radius:25px;
    box-shadow:0 10px 30px rgba(0,0,0,0.08);

    line-height:1.9;
    font-size:1rem;

    margin-bottom:25px;
}
/* popup */
.popup{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    justify-content:center;
    align-items:center;
    z-index:999;
}

.popup.active{
    display:flex;
}

.popup-box{
    background:white;
    padding:30px;
    border-radius:20px;
    text-align:center;
    animation:pop 0.3s ease;
}

@keyframes pop{
    from{transform:scale(0.7);opacity:0;}
    to{transform:scale(1);opacity:1;}
}

/* fade animation */
@keyframes fadeIn{
    from{opacity:0;transform:translateY(30px);}
    to{opacity:1;transform:translateY(0);}
}
#countdown{
    margin-top:10px;
    font-size:1.1rem;
    color:#444;
    background:rgba(255,255,255,0.4);
    padding:8px 15px;
    border-radius:20px;
    display:inline-block;
}